.banner {
    background-image: url(../../assets/img/banner.png);
    background-repeat: no-repeat;
    height: 470px;
    background-size: 100%;
    border-bottom: 10px solid #031826;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-left: 340px;
}

.banner .box {
    margin-top: 100px;
    margin-bottom: 30px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}